.card {
    border: solid 1px grey;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: white;
}

header {
    background-color: blueviolet;
    color: white;
    padding: 16px;
    text-align: center;
}

hr {
    background-color: black;
    height: 2px;
}

footer {
    background-color: blueviolet;
    padding: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-image {
    width: 64px;
}

.card-title {
    display: inline;
}

body {
    font-family: sans-serif;
    background-color: gainsboro;
}